.container {
    width:100%;
    border:1px solid oklch(91.345% 0.0265 242.873);
}
.container div {
    width:100%;
}
.container .header {
    background-color:oklch(91.345% 0.0265 242.873);
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}